.no-li {
    list-style: none;
    margin: 0 0 27px 0;
}

.li-small {
    list-style: none;
    font-size: smaller;
}

.sub-box {
    display: flex;
    flex-direction: row;
}

.sub-text {
    display: flex;
    flex: 1;
    margin: 10px;
}

.disclaimer {
    font-size: 0.7rem;
    color: #a5a5a5;
    margin: 10px;
}

@media (max-width: 766px) {
    .sub-box {
        display: block;
        flex-direction: row;
    }
    
    .sub-text {
        display: flex;
        flex: auto;
        margin: 10px;
    }

    .subscribe-button {
        width: 100%;
    }
  }

.nav-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 6.429em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ie-fix {
    width: 100%;
}

.btn-grad-1 {
    background: rgb(176,58,180);
    background: linear-gradient(90deg, rgba(176,58,180,1) 0%, rgba(203,29,253,1) 50%, rgba(128,69,252,1) 100%);  
}

.btn-grad-2 {
    background: rgb(128,69,252);
    background: linear-gradient(90deg, rgba(128,69,252,1) 0%, rgba(29,137,253,1) 50%, rgba(58,164,180,1) 100%);
}

.container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.features {
    display: flex;
}

.block {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 20px;
    width: auto;
    border-radius: 0.7em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.block:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.block-img {
    float: left;
    padding: 20px;
    width: 40%;
}

.block-p {
    padding: 20px;
}

.versioning {
    display: inline-block;
}

.righty {
    float: right;
}

.links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-menu {
    z-index: 3;
    display: block;
    opacity: 1;
}

.nav {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    width: 100%;
    height: auto;
    padding-right: 2em;
    padding-left: 2em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.11);
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.nav-link {
    margin-top: 0em;
    margin-right: 0em;
    padding: 2em;
    opacity: 1;
    font-family: Roboto, sans-serif;
    color: #6c6c6c;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link:hover {
    opacity: 1;
    color: #000;
}

.nav-link-button {
    margin-top: 0em;
    margin-right: 0em;
    padding: 2em;
    opacity: 1;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.nav-link-button-merch {
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    color: #2c2c2c;
}

.nav-link.w--current {
    margin-top: 0em;
    margin-right: 0em;
    padding: 2em;
    color: #642d92;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
}

.footer-content-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-content-block.padding {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer-content-block.padding:hover {
    background-color: #f8f8f8;
}

.body-columns {
    margin: 1em 0em;
}

.link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
}

.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 20em;
    padding: 2em 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 0.7em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Poppins, sans-serif;
    color: #000;
    font-size: 44px;
    line-height: 54px;
    font-weight: 500;
    text-align: left;
}

.header {
    height: 40vh;
    padding-top: 13%;
    background-color: transparent;
    color: transparent;
}

.header-block {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    max-width: auto;
    margin-right: 50%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
}

.header-text {
    text-align: left;
}

.container-2 {
    text-align: left;
}

.h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2.5em;
    line-height: 1;
    font-weight: 600;
}

.h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
}

.p {
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 0em;
}

.subheader {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #4d4d4d;
    font-weight: 500;
}

.subsubparagraph-2 {
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    letter-spacing: 0em;
}

.link-styled {
    color: #4d4d4d;
    text-decoration: underline;
}

.div-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.human-pic {
    display: block;
}

.human {
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-icon {
    margin-bottom: 20px;
}

.text-field {
    border-radius: 0.7em;
}

.select-field {
    border-radius: 0px;
}

.text-field-2 {
    border-radius: 0.7em;
}

.textarea {
    overflow: visible;
    border-radius: 0.7em;
    font-size: 1em;
    line-height: 1.5em;
}

.form {
    margin-top: 1em;
    padding: 2em 4em;
    border-radius: 6px;
    background-color: #f7f7f7;
}

.contact {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: transparent;
}

.utility-page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.utility-page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.utility-page-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.branch-column {
    margin: 4em 0px;
}

.column {
    display: block;
    margin-right: auto;
    margin-left: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 7%;
    margin-top: 2em;
    margin-bottom: 2em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.theme {
    font-family: Roboto, sans-serif;
    color: #5c5c5c;
    font-size: 0.875em;
    line-height: 1.5em;
}

.main {
    margin-top: 0em;
    margin-bottom: 4em;
}

.shadow {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
/* On mouse-over, add a deeper shadow */
.shadow:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.div-block {
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 3em;
    line-height: 1;
}

.nav-logo {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0%;
    font-family: Poppins, sans-serif;
    color: #ae00ff;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.container-banner {
    padding-top: 2em;
    padding-bottom: 2em;

}

.header-1 {
    margin-top: 0em;
    background: linear-gradient(0deg, rgba(61,164,255,1) 0%, rgba(156,0,255,1) 100%);
}

.header-2 {
    margin-top: 0em;
    background: linear-gradient(0deg, rgba(91,0,255,1) 0%, rgba(61,164,255,1) 100%);
}

.header-3 {
    margin: 1em 0.5em;
    background: linear-gradient(0deg, rgb(164, 121, 241) 0%, rgba(55, 161, 255, 0.03) 100%);
    border-style: dotted;
    border-color: #9359f2;
}



.div-block-11 {
    margin-top: 2em;
    text-align: center;
}

.submit-button {
    border-style: solid;
    border-width: 1px;
    border-color: #642d92;
    border-radius: 0.7em;
    background-color: #fff;
    color: #3b3b3b;
}

.column-2 {
    padding-right: 1em;
    padding-left: 1em;
}

.card-icon {
    max-width: 40em;
    margin-bottom: 1em;
}

.columns {
    margin-right: 0em;
    margin-bottom: 0.5em;
    margin-left: 0em;
}

.column-1 {
    padding-right: 1em;
    padding-left: 0em;
}

.container-3 {
    padding-top: 2em;
    padding-bottom: 4em;
}

.nav-block {
    height: 6.6em;
}

.twitter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.h1-centered {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 3em;
    line-height: 1;
    text-align: center;
}

.paragraph-centered {
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
}

.h3-noheader-bold {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    font-size: 1.4em;
    line-height: 1;
}

.h2-centered {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2.5em;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}

.h3-header {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}

.p-centered {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0em;
}

.h3-noheader {
    margin-top: 0em;
    margin-bottom: 0em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
}

.footer-div {
    margin-top: 2em;
    margin-bottom: 2em;
}

.h1-white {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 3em;
    line-height: 1;
}

.h1-white-gif {
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 3em;
    line-height: 1;
}

.h2-white {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2.5em;
    line-height: 1;
    font-weight: 600;
}

.h3-white {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
}

.h3-white-noheader {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
}

.p-white {
    margin-top: 1em;
    margin-bottom: 0.125em;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 0em;
}

.h1-centered-white {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 3em;
    line-height: 1;
    text-align: center;
}

.h2-centered-white {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2.5em;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}

.h3-centered-white {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}

.p-centered-white {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0em;
}

.p-small {
    margin-top: 0.5em;
    margin-bottom: 0.125em;
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    font-size: 1em;
    line-height: 1.7em;
    letter-spacing: 0em;
}

.p-centered-small {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    font-size: 1em;
    line-height: 1.7em;
    text-align: center;
    letter-spacing: 0em;
}

.p-centered-white-small {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 1em;
    line-height: 1.7em;
    text-align: center;
    letter-spacing: 0em;
}

.p-white-small {
    margin-top: 0.5em;
    margin-bottom: 0.125em;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 1em;
    line-height: 1.7em;
    letter-spacing: 0em;
}

.p-small-capital {
    margin-top: 0.5em;
    margin-bottom: 0.125em;
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    font-size: 0.813em;
    line-height: 2em;
    font-weight: 400;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.p-white-small-capital {
    margin-top: 0.5em;
    margin-bottom: 0.125em;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 0.813em;
    line-height: 2em;
    font-weight: 400;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.p-centered-small-capital {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    font-size: 0.813em;
    line-height: 2em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.p-centered-white-small-capital {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 0.813em;
    line-height: 2em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.h3-noheader-capital {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.h3-white-noheader-capital {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

.p-capital {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-family: Poppins, sans-serif;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.4em;
    font-weight: 500;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.p-white-capital {
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.h3-centered-noheader-capital {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.h3-centered-white-noheader-capital-copy {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.p-centered-capital {
    margin-bottom: 0px;
    font-family: Poppins, sans-serif;
    color: #4d4d4d;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.p-centered-white-capital {
    margin-bottom: 0px;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.h3-centered-noheader {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #585858;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}

.h3-centered-white-noheader {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 2em;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}

.h3-white-noheader-bold {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 1.4em;
    line-height: 1;
}

.h3-centered-noheader-bold {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    font-size: 1.4em;
    line-height: 1;
    text-align: center;
}

.h3-centered--white-noheader-bold {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Poppins, sans-serif;
    color: #f0f0f0;
    font-size: 1.4em;
    line-height: 1;
    text-align: center;
}

.div-spacing {
    margin-top: 2em;
    margin-bottom: 8em;
}

/* .column-6 {
    height: 2em;
} */

.column-7 {
    height: 20em;
}

.columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button {
    border-radius: 6px;
    background: rgb(128,69,252);
    background: linear-gradient(90deg, rgba(128,69,252,1) 0%, rgb(26, 129, 238) 50%, rgb(52, 139, 197) 100%);
    font-family: Roboto, sans-serif;
    font-weight: normal;
}

.column-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 10em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-9 {
    height: 10em;
}

.html-embed {
    width: 90%;
}

.gif {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-spacing-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 8em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-11 {
    height: 8em;
}

.button-2 {
    border-radius: 6px;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    color: #585858;
    font-size: 1.1em;
    font-weight: 300;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

.button-2:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
}

.column-13 {
    padding-bottom: 1em;
}

.heading {
    font-family: Roboto, sans-serif;
    color: #8a41ff;
    font-size: 5em;
    line-height: 2em;
    font-weight: 300;
    text-align: center;
}

.heading-2 {
    font-family: Poppins, sans-serif;
    color: #7956ff;
    font-size: 5em;
}

.heading-3 {
    font-family: Poppins, sans-serif;
    color: #656dff;
    font-size: 5em;
}

.heading-4 {
    font-family: Poppins, sans-serif;
    color: #5083ff;
    font-size: 5em;
}

.text-block {
    display: block;
}

.stat-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.text-block-2 {
    font-size: 7em;
    line-height: 2em;
}

.text-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.stat-1-sign {
    display: block;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #8646ff;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 300;
}

.div-block-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.stat-1 {
    font-family: Roboto, sans-serif;
    color: #8646ff;
    font-size: 6em;
    line-height: 1.5em;
    font-weight: 300;
}

.stat-2 {
    font-family: Roboto, sans-serif;
    color: #7758ff;
    font-size: 6em;
    line-height: 1.5em;
    font-weight: 300;
}

.stat-2-sign {
    display: block;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #7758ff;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 300;
}

.stat-3 {
    font-family: Roboto, sans-serif;
    color: #636eff;
    font-size: 6em;
    line-height: 1.5em;
    font-weight: 300;
}

.stat-3-sign {
    display: block;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #636eff;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 300;
}

.stat-4 {
    font-family: Roboto, sans-serif;
    color: #4f84ff;
    font-size: 6em;
    line-height: 1.5em;
    font-weight: 300;
}

.stat-4-sign {
    display: block;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #4f84ff;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 300;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    text-align: center;
  }