---
layout: container.njk
title: Resouces
eleventyComputed:
    title: "{{ thisresource.name }}"
pagination:
    data: resourcestag
    size: 1
    alias: thisresource
permalink: "resources/{{ thisresource.name | slug }}/"
---
<h1 class="has-text-centered">{{ title }}</h1>

<div class="tabs">
    <ul>
        <li {% if title == "Resources" %} class="is-active" {% endif %}>
            <a href="/resources">All Resources</a>
        </li>
        {% for tag in resourcestag %}
            <li {% if title == tag.name %} class="is-active" {% endif %}>
                <a href="/resources/{{ tag.name | slug }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="columns is-multiline">
    {% for resource in resources %}
        {% if resource.fields["Tag"] == title %}
        <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-half-mobile">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5">
                        <img src="{{ resource.fields["File"][0]["thumbnails"]["large"]["url"] }}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ resource.fields["Title"] }}</p>
                            <p class="subtitle is-6">{{ resource.fields["Tag"] }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="buttons">
  <button class="button is-primary is-light">Download</button>
</div>
                        <time datetime="2016-1-1">{{ resource.fields["Last updated"] }}</time>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        Could not get resources.
    {% endfor %}
</div>