---
layout: container.njk
title: Resouces
eleventyComputed:
    title: "{{ thisresource.name }}"
pagination:
    data: resourcestag
    size: 1
    alias: thisresource
permalink: "resources/{{ thisresource.name | slug }}/"
---
<h1 class="has-text-centered">{{ title }}</h1>

<div class="tabs">
    <ul>
        <li {% if title == "Resources" %} class="is-active" {% endif %}>
            <a href="/resources">All Resources</a>
        </li>
        {% for tag in resourcestag %}
            <li {% if title == tag.name %} class="is-active" {% endif %}>
                <a href="/resources/{{ tag.name | slug }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="columns is-multiline is-mobile">
    {% for resource in resources %}
        {% if resource.fields["Tag"] == title %}
        <div class="column is-half-mobile is-half-touch is-one-quarter-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
            <div class="card">
                <figure class="image is-2by3 m-0">
                    <img src="{{ resource.fields["File"][0]["thumbnails"]["large"]["url"] }}" alt="Placeholder image">
                </figure>
                <div class="card-content p-4">
                    <p class="is-size-6 is-size-6-tablet is-size-5-desktop pb-3 m-0"><b>{{ resource.fields["Title"] | truncate(18) }}</b></p>
                    {# <p class="is-size-6 is-size-6-tablet is-size-5-desktop">{{ resource.fields["Tag"] | truncate(18) }}</p> #}
                    <p class="is-size-6 is-size-6-tablet is-size-5-desktop">
                        <a class="button is-link is-light is-small" href="{{ resource.fields["File"][0]["url"] }}">Download</a>
                    </p>
                    <p class="is-size-7-mobile is-size-6-touch is-size-5-tablet is-4 has-text-grey-light">
                        <time datetime="2016-1-1">{{ resource.fields["Last updated"] }}</time>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        Could not get resources.
    {% endfor %}
</div>