---
layout: headerfooter.njk
---

<div class="nav-block"></div>
<main class="main">
    <div class="container-2 w-container">
        <h1 class="h1-centered">{{ title }}</h1>

        <div style="font-size: 1.2rem; line-height: 1.8rem;">
            {{ content | safe }}
        </div>
    </div>
</main>