@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Roboto', sans-serif;

$primary: #7C4DFF;
$black: #565656;
