<div class="field">
    <label class="label">Is there anything you'd like to add?</label>
    <div class="control">
        <p class="help">Optional</p>
        <textarea name="message" class="textarea"></textarea>
    </div>
</div>