<div class="field">
    <label class="label is-uppercase">Gender pronouns</label>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" onchange="document.getElementById('genderpronouns').disabled = this.checked;">
       Prefer not to answer and default to gender-neutral they/them pronouns.
    </label>
            </div>
        </div>
        <fieldset id="genderpronouns">
            <div class="field">
                <div class="control">
                    <input name="genderpronouns" class="input is-rounded" type="text" required="required">
                </div>
                <p class="help">Examples could be he/him, she/her, they/them, ze/zim/zis</p>
            </div>
        </fieldset>
    </div>
</div>