<div class="field">
    <label class="label is-uppercase">institution name</label>
    <div class="control">
        <input name="institutionname" class="input is-rounded" type="text" required="required">
    </div>
</div>