<div class="field">
    <label class="label is-uppercase">Position at institution</label>
    <div class="control">
        <input name="positionatinstitution" class="input is-rounded" type="text" required="required">
    </div>
</div>