<div class="field">
    <label class="label">Sexpression:UK Branch</label>
    <div class="control">
        <div class="select">
            <select name="branch[]" required="required">
                {% for branch in branches.all %}
                    <option>{{ branch.fields["Name"] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Choose a week for the session</label>
    <div class="control">
        <input class="input" type="week" name="week" id="week" required="required">
    </div>
</div>

{# <div class="field">
            <label class="label">Subjects</label>
            <div class="control">
                <div class="select">
                    <select name="subjects[]" required="required">
                        <option>Bodily changes</option>
                        <option>Sex & the Media</option>
                        <option>Contraception & Sexually Transmitted Infections</option>
                        <option>Sexual Orientation & Gender Identity</option>
                        <option>Healthy Relationships & Abuse</option>
                        <option>Sex & Consent</option>
                    </select>
                </div>
            </div>
        </div> #}

<div class="field">
    <label class="label">Subjects</label>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="subjects[]" value="Bodily changes">
                    Bodily changes
                </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="subjects[]" value="Sex & the Media">
                    Sex & the Media
                </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="subjects[]" value="Contraception & Sexually Transmitted Infections">
                    Contraception & Sexually Transmitted Infections
                </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="subjects[]" value="Sexual Orientation & Gender Identity">
                    Sexual Orientation & Gender Identity
                </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="subjects[]" value="Healthy Relationships & Abuse">
                    Healthy Relationships & Abuse
                </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="subjects[]" value="Sex & Consent">
                    Sex & Consent
                </label>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Age range</label>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="Age range[]" value="11 - 12">
                    11 - 12 year olds
                    <span class="tag">
                        Year 7
                    </span>
            </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="Age range[]" value="12 - 13">
                    12 - 13 year olds
                    <span class="tag">
                        Year 8
                    </span>
            </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="Age range[]" value="13 - 14">
                    13 - 14 year olds
                    <span class="tag">
                        Year 9
                    </span>
            </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="Age range[]" value="14 - 15">
                    14 - 15 year olds
                    <span class="tag">
                        Year 10
                    </span>
            </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="Age range[]" value="15 - 16">
                    15 - 16 year olds
                    <span class="tag">
                        Year 11
                    </span>
            </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="Age range[]" value="16 - 17">
                    16 - 17 year olds
                    <span class="tag">
                        Year 12
                    </span>
            </label>
        </div>
    </div>
    <div class="control">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="Age range[]" value="17 - 18+">
                    17 - 18+ year olds
                    <span class="tag">
                        Year 13
                    </span>
            </label>
        </div>
    </div>
</div>