---
layout: contact.njk
title: Leave a legacy
description: Remembering Sexpression:UK in your will can help to safeguard the future of our charitable work, improve reach within our communities, and support the continued development of our educational offer to young people.
"features": [
    {
        "icon":"far fa-paper-plane",
        "text":"The legacy you leave for us will be used to improve the quality and reach of teaching to young people: directly through support of branch resources and indirectly through training events, volunteer development conferences and method exchanges"
    },
    {
        "icon":"far fa-paper-plane",
        "text":"Any and all donations are appreciated and respected by Sexpression:UK"
    },
        {
        "icon":"far fa-paper-plane",
        "text":"Your personal information and legacy details will be kept private and confidential, unless you approve otherwise"
    },
    {
        "icon":"far fa-paper-plane",
        "text":"You can modify your legacy at any time if you wish to do so."
    },
    {
        "icon":"far fa-paper-plane",
        "text":"With your approval, we can formally recognize and acknowledge your bequeathment with a thank you address at our next national event. At your request, we can also add you to our public list of donors."
    }

]
---

<form name="{{ title }}" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <section class="section">

        {% include 'form/fullname.njk' %}
        {% include 'form/genderpronouns.njk' %}
        {% include 'form/email.njk' %}

        <div data-netlify-recaptcha="true"></div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Send</button>
            </div>
        </div>
    </section>
</form>