---
layout: contact.njk
title: Media inquiry
description: All press and media queries go to our Externals and Press Director, who can also be contacted on externals@sexpression.org.uk.
"features": [
    {
        "icon":"far fa-paper-plane",
        "text":"Include the type of media (eg. print, video) and turnaround in your query."
    },
    {
        "icon":"far fa-paper-plane",
        "text":"Please do not contact other members of the team."
    }
]
---

<form name="{{ title }}" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <section class="section">
        {% include 'form/fullname.njk' %}
        {% include 'form/genderpronouns.njk' %}
        {% include 'form/email.njk' %}
        {% include 'form/mediaorganisation.njk' %}

        <div data-netlify-recaptcha="true"></div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Send</button>
            </div>
        </div>
    </section>
</form>