---
layout: contact.njk
title: Request a session
description: At Sexpression, we can help your school meet the requirements of the new National RSHE programme. Our resources are tailor-made to your school and lesson requirements, accessible to all students and LGBT+ inclusive. Our programme is inline with the Department of Education statutory guidance.
"features": [
    {
        "icon":"far fa-paper-plane",
        "text":"Sexpression offers inclusive and comprehensive RSHE sessions taught by our Branches around the country. All our sessions are free and taught by trained University students."
    },
    {
        "icon":"far fa-paper-plane",
        "text":"Use the form to request a session, and your nearest Branch will be in touch to organise details."
    },
    {
        "icon":"far fa-paper-plane",
        "text":"If you are unsure about the date range, topics, or anything else, please give an estimate and include details in the additional information box."
    },
    {
        "icon":"far fa-paper-plane",
        "text":"You can also find a list of Branches, and contact them directly with any prior queries."
    }

]
---

<form name="{{ title }}" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <section class="section">
        <h1 class="title">Who are you?</h1>
        {% include 'form/fullname.njk' %}
        {% include 'form/genderpronouns.njk' %}
        {% include 'form/email.njk' %}
        {% include 'form/positionatinstitution.njk' %}
    </section>

    <section class="section">
        <h1 class="title">What is your institution?</h1>
        {% include 'form/institutionname.njk' %}
        {% include 'form/institutiontype.njk' %}
    </section>

    <section class="section">
        <h1 class="title">Where is your Institution?</h1>
        {% include 'form/address.njk' %}
    </section>

    <section class="section">
        <h1 class="title">Your session</h1>
        {% include 'form/session.njk' %}
        {% include 'form/message.njk' %}

        <div data-netlify-recaptcha="true"></div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Send</button>
            </div>
        </div>

    </section>
</form>