<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sexpression:UK</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/svg/logo-icon.svg">
        <link rel="”mask-icon”" href="”/svg/logo-icon.svg”" color="”#000000">
        <script src="https://kit.fontawesome.com/4a8cf76ed6.js" crossorigin="anonymous"></script>
        <script type="module" src="/js/app.js"></script>
        <!-- Primary Meta Tags -->
        <title>{{ home.title }} | {{ home.hero_title }}</title>
        <meta name="title" content="{{ home.title }} | {{ home.hero_title }}">
        <meta
        name="description" content="{{ home.hero_description }}">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://sexpression.org.uk">
        <meta property="og:title" content="{{ home.title }} | {{ home.hero_title }}">
        <meta property="og:description" content="{{ home.hero_description }}">
        <meta
        property="og:image" content="https://sexpression.directus.app/assets/5fd315b1-9bbb-4715-b133-11e584c5dfde">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://sexpression.directus.app/assets/5fd315b1-9bbb-4715-b133-11e584c5dfde">
        <meta property="twitter:title" content="{{ home.title }} | {{ home.hero_title }}">
        <meta property="twitter:description" content="{{ home.hero_description }}">
        <meta property="twitter:image" content="https://sexpression.directus.app/assets/5fd315b1-9bbb-4715-b133-11e584c5dfde">
    </head>
    <body>
        <div class="container pt-4">
            <nav class="navbar is-transparent transparent-background" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="is-flex">
                        <a class="navbar-item is-size-3 is-uppercase poppins" href="/">
                            <a class="navbar-item is-size-3 is-uppercase poppins" href="/">
                                {% from 'macros/svgTwo.njk' import svgTwo %}
                                {{ svgTwo(size="3rem") }}
                                <p>{{ home.title }}</p>
                            </a>
                        </div>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/programme/core-offer">
                                <i class="fas mr-2 fa-bookmark"></i>
                        Programme
                    </a>
                            <a class="navbar-item" href="/resources">
                                <i class="fas mr-2 fa-paperclip"></i>
                        Resources
                    </a>
                            <a class="navbar-item" href="/branches">
                                <i class="fas mr-2 fa-code-branch"></i>
                        Branches
                    </a>
                            <a class="navbar-item" href="/teams">
                                <i class="fas mr-2 fa-users"></i>
                        Meet the team
                    </a>
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a href="https://www.justgiving.com/campaign/sexpressionuk" class="action-button primary hvr-grow button is-light">
                                        <strong>Donate now</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            {{ content | safe }}
            <footer class="footer">
                <div class="container">
                    <div class="columns">
                        <div class="column menu">
                            <p class="menu-label">Pages</p>
                            <ul class="menu-list">
                                <li>
                                    <a href="/programme/core-offer">
                                        <i class="fas mr-2 fa-bookmark"></i>Programme</a>
                                </li>
                                <li>
                                    <a href="/resources">
                                        <i class="fas mr-2 fa-paperclip"></i>Resources</a>
                                </li>
                                <li>
                                    <a href="/branches">
                                        <i class="fas mr-2 fa-code-branch"></i>Branches</a>
                                </li>
                                <li>
                                    <a href="/teams">
                                        <i class="fas mr-2 fa-users"></i>Meet the team</a>
                                </li>
                                <li>
                                    <a href="/opportunities">
                                        <i class="fas mr-2 fa-briefcase"></i>Opportunities</a>
                                </li>
                                <li>
                                    <a href="https://sexpressionuk.notion.site/Sexpression-UK-Policies-4383c90bcc9a4085af3ba9d6c6c41bd4" target="_blank">
                                        <i class="fas mr-2 fa-scroll"></i>Policies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="column menu">
                            <p class="menu-label">Connect with us</p>
                            <ul class="menu-list">
                                    {% for link in links %}
                                <li>
                                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="column menu">
                            <p class="menu-label">Contact us</p>
                            <ul class="menu-list">
                                <li>
                                    <a href="/form/request-a-session">Request a session</a>
                                </li>
                                <li>
                                    <a href="/form/join-a-branch">Join a branch</a>
                                </li>
                                <li>
                                    <a href="/form/create-a-branch">Create a branch</a>
                                </li>
                                <li>
                                    <a href="/form/fundraise">Fundraise</a>
                                </li>
                                <li>
                                    <a href="/form/media-enquiry">Media enquiry</a>
                                </li>
                                <li>
                                    <a href="/form/leave-a-legacy">Leave a legacy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="column menu">
                            <form action="https://sexpression.us20.list-manage.com/subscribe/post?u=a12713abc0ae4f1b1d0841fcd&id=d08e375582" method="post">
                                <div class="field">
                                    <p class="menu-label">Subscribe to our newsletter</p>
                                    <p>Get the latest news on a monthly basis.</p>
                                    <input class="input" type="text" placeholder="Enter your email">
                                    <p>Our <a href="https://sexpressionuk.notion.site/Sexpression-UK-Policies-4383c90bcc9a4085af3ba9d6c6c41bd4" target="_blank">Privacy Policy</a>
                                    </p>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="action-button hvr-grow button is-light">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
            <script>
                if (window.netlifyIdentity) {
                    window
                        .netlifyIdentity
                        .on("init", user => {
                            if (!user) {
                                window
                                    .netlifyIdentity
                                    .on("login", () => {
                                        document.location.href = "/admin/";
                                    });
                            }
                        });
                }
            </script>
        </body>
    </html>