<div class="field">
    <label class="label is-uppercase">Email</label>
    <div class="control">
        <input name="email" class="input is-rounded" type="email" required="required">
    </div>
</div>