<div class="field">
    <label class="label is-uppercase">Institution type</label>
    <div class="control">
        <div class="select">
            <select name="Institution type[]" required="required">
                <option>State school</option>
                <option>Comprehensive school</option>
                <option>Faith school</option>
                <option>Grammar school</option>
                <option>Academies and free schools</option>
                <option>Youth club</option>
            </select>
        </div>
    </div>
</div>