<div class="field">
    <label class="label is-uppercase">Media organisation</label>
    <div class="control">
        <input name="Media organisation" class="input" type="text" required="required">
    </div>
</div>