<div class="field">
    <label class="label is-uppercase">University</label>
    <div class="control">
        <div class="select">
            <select name="University" required="required">
                {% for university in universities.archived %}
                    <option value="{{ university.name }}">{{ university.name }}</option>
                {% endfor %}
                <option value="">Other</option>
            </select>
        </div>
    </div>
</div>