<section class="section">
        <h1 class="title">Who are you?</h1>
        {% include 'fields/fullname.njk' %}
        {% include 'fields/genderpronouns.njk' %}
        {% include 'fields/email.njk' %}
        {% include 'fields/positionatinstitution.njk' %}
</section>

<section class="section">
        <h1 class="title">What is your institution?</h1>
        {% include 'fields/institutionname.njk' %}
        {% include 'fields/institutiontype.njk' %}
</section>

<section class="section">
        <h1 class="title">Where is your Institution?</h1>
        {% include 'fields/address.njk' %}
</section>

<section class="section">
        <h1 class="title">Your session</h1>
        {% include 'fields/session.njk' %}
        {% include 'fields/message.njk' %}
</section>