---
layout: headerfooter.njk
title: About us
---

<div class="nav-block"></div>
<main class="main">
    <div class="container-2 w-container">
        <div class="div-spacing">
            <h1 class="h1">2021-2022 National Committee <span class="ec ec-trophy"></span></h1>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2 ie-fix">National Director</h2><img
                                src="/images/team/committee/eleanor_cochrane.jpg"
                                style="clip-path: circle(40% at 50% 50%);" width="194" alt="Eleanor Cochrane"
                                class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Eleanor Cochrane</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Cardiff</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Hello, my name is Ellie and I'm Sexpression:UK's National Director this year. I
                            am in my 6th year studying at Cardiff Medical School including completing my BSc in
                            Medical Education and I have been a member of Sexpression Cardiff since I started. I'm
                            devoted to improving global sexual health and believe that education holds the power to
                            achieve this. I joined the National Committee in last summer as the Externals and Press
                            Director. I've learned so much since becoming a Sexpression volunteer in 2016 and hope
                            this year I can create opportunities for our membership to achieve the same.</p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>I have a special interest in pre-exposure prophylaxis (PrEP) for HIV and have
                                    researched and published in the area.</li>
                            </ul>
                            <h4>Skills</h4>
                            <ul>
                                <li>I love training both face to face and online and have learned to produce e-learning
                                    modules while studying Medical Education.</li>
                                <li>I have previously researched PrEP adherence and am very interested in HIV
                                    prevention.</li>
                                <li>I can make basic instagram filters</li>
                            </ul> -->
                        <p class="p p-small-capital"><a href="mailto:director@sexpression.org.uk"
                                class="link-styled">director@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2 ie-fix">Externals and Press Director</h2><img
                                style="clip-path: circle(40% at 50% 50%);"
                                src="/images/team/committee/lewis_ruddock.jpg" width="194" alt="Lewis Ruddock"
                                class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Lewis Ruddock</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Leicester</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                He/Him/His</p>
                        </div>
                        <p class="p">Hey! I'm Lewis, this years Sexpression:UK Externals and Press Director. I'm a
                            2nd year Adult and Mental Health Nursing student at the University of Leicester. I've
                            been a member of Sexpression since I started university, taking on multiple roles in my
                            branch committee prior to joining the national committee. I have a real passion for
                            providing inclusive and comprehensive sex education to ensure no young person feels left
                            out due to the way they may feel or identify. Through my time on the Leicester
                            committee, I have worked closely with local organisations to improve services, access to
                            contraception and education opportunities for young people and university students. I am
                            thrilled to take on this role and endeavour to work with our partners, affiliates and
                            branches as well as proactively work with the press and media to promote the work and
                            aims of Sexpression:UK on a national level! </p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>Sexpressioner of the Year 2020/21</li>
                                <li>Sexpression Committee of the Year 2020/21</li>
                                <li>Sexpression Advocacy of the Year 2020/21</li>
                                <li>Proactive press and media opportunities</li>
                            </ul>
                            <h4>Skills</h4>
                            <ul>
                                <li>Public Speaking and Presentation skills. </li>
                                <li>Self STI Testing research (particularly HIV Self Testing in the MSM community).</li>
                                <li>Public Health research (STI prevalence, transmission and barrier contraception in
                                    16-24 year olds)</li>
                            </ul> -->
                        <p class="p p-small-capital"><a href="mailto:externals@sexpression.org.uk"
                                class="link-styled">externals@sexpression.org.uk</a></p>
                        <p class="p p-small-capital"><a href="mailto:press@sexpression.org.uk"
                                class="link-styled">press@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Branches Director</h2><img src="/images/team/committee/harry_quinn.jpg"
                                width="194" style="clip-path: circle(40% at 50% 50%);" alt="Harry Quinn"
                                class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Harry Quinn</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Aberdeen</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                He/Him/His</p>
                        </div>
                        <p class="p">Hello all, I'm delighted to introduce myself to you as Branches Director
                            2020/21. I'm originally from Ireland but I'm very proud to hail from Sexpression:UK's
                            most northerly branch, Aberdeen.

                            This is my sixth year involved with Sexpression:UK, having served previously as Branch
                            Coordinator at my local branch.

                            I'm passionate about the unique branch-based model of our organisation and I'm looking
                            forward to meeting Sexpressioners from up and down the UK and helping each of our
                            wonderful branches reach their full potential.</p>
                        <p class="p-small-capital"><a href="mailto:branches@sexpression.org.uk"
                                class="link-styled">branches@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Finance Director</h2><img src="/images/team/committee/takunda_nhiwatiwa.jpg"
                                width="194" style="clip-path: circle(40% at 50% 50%);" alt="Takunda Nhiwatiwa"
                                class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Takunda Nhiwatiwa</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Leicester</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Hello! My name is Takunda and I am Sexpression UK's Financial Director
                            2021/2022. After being involved with my local Leicester branch for three years as
                            volunteer, Social Media Secretary and now Secretary - I can't get enough! I am currently
                            a medical student which makes my roles and involvement within Sexpression all the more
                            exciting, and I enjoy the collaboration between not just SRE and schools, but within
                            education, campus and healthcare too. Outside of Sexpression I also work in medical
                            education, especially on topics surrounding the theme of decolonisation and racial
                            equality, something that lends itself very well to my posts.</p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>Sexpression Committee of the year 2019/2020</li>
                                <li>Sexpression Social Media Account of the year 2019/2020</li>
                                <li>Leicester University Charity, Support & Campaigning Student Group of the Year
                                    2019/2020</li>
                                <li>Appeared as a guest on podcasts The Hippocampus Podcast, and Brown Girls Do It
                                    talking about decolonising medical education</li>
                                <li>Featured in Leicester University's Wall of Women 2021 after nominations including
                                    "Your energy, enthusiasm and brilliance in leading projects and delivering them is
                                    awesome. A fantastic role model and a credit to the school"</li>
                                <li>My goals for my time on nationals will be to work closely with branches and
                                    Fundraising Director to explore new avenues in which we can support our volunteers,
                                    our students and the community, especially in a post-lockdown setting.</li>
                            </ul>
                            <h4>Skills</h4>
                            <ul>
                                <li>My goals for my time on nationals will be to work closely with branches and
                                    Fundraising Director to explore new avenues in which we can support our volunteers,
                                    our students and the community, especially in a post-lockdown setting.</li>
                                <li>I have been commended on my communication skills, particularly when relaying
                                    information that is easy to digest and succinct, something that I pride myself on.
                                </li>
                                <li>Fun fact: I have been learning British Sign Language for 3 years and currently
                                    finishing up my Level 2!</li>
                                <li>I have research experience, including a published public health abstract on
                                    obstetrics and gynaecology, which was presented at EUROCAT International Conference
                                    2016.</li>
                            </ul> -->
                        <p class="p-small-capital"><a href="mailto:finance@sexpression.org.uk"
                                class="link-styled">finance@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Fundraising Director</h2><img src="/images/team/committee/liam_harnett.jpg"
                                width="194" style="clip-path: circle(40% at 50% 50%);" alt="Liam Harnett"
                                class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Liam Harnett</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Sheffield</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                He/Him/His</p>
                        </div>
                        <p class="p">Hiya! My name is Liam, and I'll be serving as the Fundraising Director
                            of Sexpression:UK this year. I'm a 3rd year PhD student at Sheffield, researching the
                            chemistry and clean-up of nuclear waste from accident sites. Currently I'm sitting as
                            the Finance & Development Officer for Sexpression:Sheffield. I'm thrilled to be a part
                            of the National Committee, supporting this charity and all the branches that provide the
                            nation's youth with such a vital service.</p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>You can also have people either summarize their work or link to their current tasks
                                    here so others can see what they're working on.</li>
                            </ul>
                            <h4>Skills</h4>
                            <ul>
                                <li>General skill set that may be helpful in different areas of people's roles e.g
                                    spreadsheet skills, proof-reading, language skills etc. Share with us what you're
                                    good at!</li>
                            </ul> -->
                        <p class="p p-small-capital"><a href="mailto:fundraising@sexpression.org.uk"
                                class="link-styled">fundraising@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Child Protection Director</h2><img
                                src="/images/team/committee/jess_creaby-attwood.jpg"
                                style="clip-path: circle(40% at 50% 50%);" width="194" alt="Jess Creaby-Attwood"
                                class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Jess Creaby-Attwood</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:St Andrews</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Hi, I'm Jess and I'm the Child Protection Director for this year. I'm
                            going into my fourth year of studying English and International Relations at St Andrews
                            University, and also my fourth year of being involved with Sexpression. I'm passionate
                            about providing accessible, inclusive and diverse relationship and sexual health
                            education, and I'm so excited to take on this role. My emails are always open for any
                            questions you have, so please don't hesitate to get in touch!</p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>to make comprehensive checklists of all safeguarding procedure for before, during
                                    and after sessions available for all volunteers</li>
                                <li>to make a resource pack with all of the information BCPOs and training officers need
                                    for next September</li>
                                <li>to make a pocket size safeguarding crib sheet to take into sessions</li>
                                <li>to host regular supplemental safeguarding training and workshops throughout the year
                                </li>
                            </ul>
                            <h4>Skills</h4>
                            <ul>
                                <li>Last year I worked as Accessibility Officer for Sexpression:UK so I have a basic
                                    understanding of making events and lessons accessible. </li>
                                <li>I have a background in graphic design including photoshop.</li>
                                <li>I am learning to use air table and have some knowledge of google sheets and excel.
                                </li>
                                <li>I work as an online tutor so I am used to teaching in an online setting.</li>
                            </ul> -->
                        <p class="p p-small-capital"><a href="mailto:childprotection@sexpression.org.uk"
                                class="link-styled">childprotection@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Training Director</h2><img src="/images/team/committee/suzi_boulting.jpg"
                                width="194" style="clip-path: circle(40% at 50% 50%);" alt="Suzi Boulting"
                                class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Suzi Boulting</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Newcastle</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Hey! I'm Suzi and I'm going into my third year as an undergraduate
                            sociology student at Newcastle University.</p>
                        <p class="p">I have been volunteering and working for various organisations who champion
                            inclusive and empowering sex education since I was 15. My experience as a youth
                            volunteer has led to a deep passion to raise the volume of young people's voices in the
                            RSE community. I believe that in order to make sure the sessions we deliver are as
                            relevant and exciting as they can be we should be listening to young people as experts
                            in their own lives.</p>
                        <p class="p">As Training Director I am looking forward to working collaboratively with
                            everyone on NC as I am well aware that, as much as I would love to, I don't have all the
                            answers all the time. So, whenever you feel I can help please let me know!</p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>As Training Director I am looking forward to working collaboratively with everyone
                                    on NC as I am well aware that, as much as I would love to, I don't have all the
                                    answers all the time. So, whenever you feel I can help please let me know!</li>
                            </ul>
                            <h4>Skills</h4>
                            <ul>
                                <li>General skill set that may be helpful in different areas of people's roles e.g
                                    spreadsheet skills, proof-reading, language skills etc. Share with us what you're
                                    good at!</li>
                            </ul> -->
                        <p class="p p-small-capital"><a href="mailto:training@sexpression.org.uk"
                                class="link-styled">training@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Advocacy Director</h2><img
                                src="/images/team/committee/james_pasint-magyar.jpg" width="194"
                                style="clip-path: circle(40% at 50% 50%);" alt="James Pasint-Magyar" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">James Pasint-Magyar</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Cardiff</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                He/Him/His</p>
                        </div>
                        <p class="p">Hi, I'm James and I'm your Advocacy Director for this year! I'm going into my
                            fourth year studying medicine. This year I will be intercalating at Imperial in
                            Reproductive and Developmental Sciences, after which I will return to Cardiff for the
                            rest of my medical degree. I've been volunteering with Sexpression since my first year
                            in medical school, but this is my first National Committee role and I'm really excited
                            to be joining the team. Comprehensive and inclusive RSHE should be the reality for all
                            young people and I'm keen to play a part in working towards making that happen.</p>
                        <p class="p">I hope to engage Sexpression and its branches with key advocacy topics
                            throughout the year such as sexual health, contraception, consent, sexual assault and
                            more! Throughout the year I would like to provide branches with information packs and
                            infographics that they can share on local levels. I also have a range of posters that
                            can be distributed amongst the branches for them to use as they please to aid in
                            teaching and advocacy.</p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>Branch Coordinator of the year 2020/21</li>
                                <li>Previous Treasurer and President of the Cardiff branch</li>
                            </ul> -->
                        <p class="p p-small-capital"><a href="mailto:advocacy@sexpression.org.uk"
                                class="link-styled">advocacy@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Communications Director</h2><img
                                src="/images/team/committee/hannah_davies.jpg" width="194"
                                style="clip-path: circle(40% at 50% 50%);" alt="Hannah Davies" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Hannah Davies</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                Sexpression:Northumbria</p>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Hi there! I'm Hannah, and I'm the Communications Director this year! I study
                            Psychology at the Northumbria University. I started with Sexpression last year, setting
                            up a branch at my university and becoming branch coordinator/training officer.
                            Unfortunately because of the pandemic I've not been able to do as much as I'd have liked
                            but I'm excited to get hands on and stuck in this year.</p>
                        <!-- <h4>Achievements and Goals</h4>
                            <ul>
                                <li>To have a campaign that every branch is involved in</li>
                                <li>To get our Instagram to 10k followers</li>
                                <li>To have a campaign run with another organisation</li>
                            </ul>
                            <h4>Skills</h4>
                            <ul>
                                <li>General skill set that may be helpful in different areas of people's roles e.g
                                    spreadsheet skills, proof-reading, language skills etc. Share with us what you're
                                    good at!</li>
                            </ul> -->
                        <p class="p p-small-capital"><a href="mailto:communications@sexpression.org.uk"
                                class="link-styled">communications@sexpression.org.uk</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-spacing">
            <h1 class="h1">Trustees <span class="ec ec-shield"></span></h1>

            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Chair</h2><img src="/images/team/trustees/matt.png" width="194"
                                alt="Matt Williams" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Matt Williams</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                He/Him/His</p>
                        </div>
                        <p class="p">Matt has been Chair of Trustees at <i>Sexpression:UK</i> since February 2020
                            having
                            been on the Board since the end of 2016. He has worked with <i>Sexpression:UK</i> since
                            2011
                            initially starting out as a volunteer with the Cardiff branch before being elected to
                            roles on both local and national committees and working to register the organisation
                            with the Charity Commission. Matt has previous experience as a trustee having been on
                            the Board of the Family Planning Association and Cardiff University Students' Union in
                            recent years. In his day job he is a doctor in South Wales and is training to be an
                            emergency medicine consultant.
                        </p>
                    </div>
                </div>
            </div>

            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Treasurer</h2><img src="/images/team/trustees/devon.png" width="194"
                                alt="Deven Naran" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Deven Naran</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                He/Him/His</p>
                        </div>
                        <p class="p">Deven graduated from the London School of Economics with a BSc in Mathematics
                            and Economics, and subsequently qualified as a Chartered Accountant at EY. He is
                            currently working as Head of Operations for a consultancy firm overseeing finance,
                            people & culture, and strategic projects. Deven is passionate about Sexpression:UK's
                            vision and values, and is looking forward to working with the National Committee and
                            Trustees to help the charity achieve its goals.
                        </p>
                    </div>
                </div>
            </div>


            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Trustee</h2><img src="/images/team/trustees/hannah.png" width="194"
                                alt="Hannah Wallace" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Hannah Wallace</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Hannah was a member of Sexpression:UK from September 2012 until June 2019.
                            During that time she held positions on her local committee including branch coordinator
                            and delivered multiple sessions to young people. She then went on to be Branches
                            Director and then National Director until she graduated. She is now a trustee and works
                            as a doctor hoping to pursue a career in obstetrics and gynaecology. Hannah hopes to be
                            able to support the current national committee with her knowledge and experience of how
                            the organisation works.</p>
                    </div>
                </div>
            </div>

            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Trustee</h2><img src="/images/team/trustees/ifewumi.png" width="194"
                                alt="Ifewumi Fagunwa" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Ifewumi Fagunwa</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Ifewumi is a trustee at Sexpression:UK and the Founder/Executive Director of
                            The SHAKE Africa Project, a sexual health organisation based in Nigeria. She also
                            currently sits on the Young Woman's Advisory Council for FORWARD UK. Ifewumi has a keen
                            interest in sexual and reproductive health and has had the opportunity to volunteer with
                            Sexpression:UK whilst studying in Belfast. She currently works as a doctor and hopes to
                            pursue a career in genitourinary medicine.</p>
                    </div>
                </div>
            </div>

            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Trustee</h2><img src="/images/team/trustees/joanna.png" width="194"
                                alt="Joanna Melville" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Joanna Melville</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Joanna is a trustee with <i>Sexpression:UK</i>, going into her seventh year
                            with the
                            organisation. Joanna was previously Finance Director, Externals and Press Director, and
                            National Director on the National Committee. Prior to this, Joanna was on the branch
                            committees of Manchester, Oxford, and Warwick branches, volunteering in a range of roles
                            from advocacy to child protection. Joanna is currently studying medicine and has a keen interest in sexual and reproductive health, both through RSE
                            delivery and conducting research. Her particular passions involve policy development and
                            tackling inequalities.</p>
                    </div>
                </div>
            </div>

            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Trustee</h2><img src="/images/team/trustees/laina.jpg" width="194"
                                alt="Laina Cores Birch" style="clip-path: circle(40% at 50% 50%);" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Laina Cores Birch</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Laina is a trustee with Sexpression:UK, going into her fifth year with the
                            organisation. Laina is the previous National Director, as well as previously holding the
                            position of Communications Director, and chairing the Manchester branch. She won the
                            Brook X SH24 Young Person's Sexual Health Award in 2020 for outstanding work to
                            destigmatise Sexual Health Education and has been involved in a range of RSE advocacy
                            since she was a teenager. Laina is currently undertaking her MFL teacher training at the
                            University of Manchester, with a keen interest in inclusive RSE that centres the wants
                            and needs of pupils and young people.
                        </p>
                    </div>
                </div>
            </div>

            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6">
                            <h2 class="h2">Trustee</h2><img src="/images/team/trustees/maddy.png" width="194"
                                alt="Maddy Lewis" class="human-pic">
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <h3 class="h3">Maddy Lewis</h3>
                        <div>
                            <p
                                style="display: inline-block; padding: 5px; background-color: #9d00fe; color: white; border-radius: 5px;">
                                She/Her</p>
                        </div>
                        <p class="p">Maddy is currently a fundraiser at the Southbank Centre, the UK's largest arts
                            centre, and has several years of fundraising experience through various roles from
                            across the charity sector. Maddy is also a trustee of youth development charity
                            UpRising. She
                            believes that it is vitally important that young people are empowered through high
                            quality RSE, and is excited be a part of Sexpression:UK.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="div-spacing">
            <h1 class="h1">Our Partners, Sponsors and top donors <span class="ec ec-cactus"></span></h1>
            <div class="human">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://www.youtube.com/user/hannahgirasol" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/hannah_witton.jpg" width="194"
                                    alt="A lovely picture of the amazing YouTuber Hannah Witton."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://www.outspokeneducation.com" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/outspoken.png" width="194"
                                    alt="Outspoken is out to empower parents to empower their children by talking openly about sex-education issues."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://en-gb.facebook.com/OxPHWOARd/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/oxphwoard.png" width="194"
                                    alt="OxPHWOARd is a show celebrating the camp, queer, and eclectic in Oxford. This an electric evening showcasing burlesque and drag as you've never seen it before!"
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="http://girlsagainst.org.uk/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/girls_against.png" width="194"
                                    alt="Girls Against is a campaign fighting against sexual harassment and sexual assault in the live music community."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://www.sexeducationforum.org.uk/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/sef.png" width="194"
                                    alt="The voice of sex education in England. Working together for quality relationships, sex and health education."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://www.vegware.com/uk/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/vegware.png" width="194"
                                    alt="Vegware is a foodservice packaging made from plants."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://www.fumble.org.uk/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/fumble.png" width="194"
                                    alt="Fumble is a digital platform run by young people, for young people. We create happy, healthy content on sex, relationships, bodies and related topics."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://absoluteharmony.co.uk/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/absolute_harmony.png" width="194"
                                    alt="We sing a wide array of original arrangements, ranging from the latest radio hits to old classics, all sung in five part harmony."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://www.hanxofficial.com/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/hanx.png" width="194"
                                    alt="A brand dedicated to creating a range of sexual health products that are gynaecologist approved and designed to sit unashamedly in our bags and on our bedside tables."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://studentsforglobalhealth.org/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/sfgh.png" width="194"
                                    alt="We are a student network and registered charity tackling global and local health inequalities through education, advocacy and community action."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="div-block-6"><a href="https://enhancetheuk.org/" target="_blank"
                                class="w-inline-block"><img src="/images/sponsors/enhance_the_uk.png" width="194"
                                    alt="Enhance the UK is a charity run by disabled people. We are passionate about the society we live in, and want to change the way disability is viewed for the better."
                                    sizes="(max-width: 479px) 80vw, 194px" class="human-pic shadow"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>