---
layout: container.njk
title: Meet the team
---

<h1 class="has-text-centered mb-6"><i class="fas mr-2 fa-users"></i>{{ title }}</h1>

<div class="tabs">
    <ul>
        <li {% if title == "teams" %} class="is-active" {% endif %}>
            <a href="/teams">All teams</a>
        </li>
        {% for groups in members %}
            <li {% if group == .name %} class="is-active" {% endif %}>
                <a href="/branches/{{ country.name | slug }}">{{ country.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="columns is-multiline">
    {% for member in members %}
        <div class="column is-half is-two-thirds-tablet">
            <div class="card border-radius-2 p-5">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="media-left is-vcentered">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{ director.fields['Picture'][0].url }}" alt="{{ director.fields["Profile description"] }}">
                            </figure>
                        </div>
                        <div class="media-content">
                        <div class="content">
                        <p class="subtitle is-uppercase is-6 is-size-7-mobile">{{ director.fields["Position"] }}</p>
                            <p class="title is-4 is-size-5-mobile has-text-link"><a onclick="modalToggle('{{ director.fields["Slug"] }}')">{{ director.fields["Name"] }}</a></p>
                            <p class="subtitle is-6 is-size-7-mobile">{{ director.fields["Pronouns"] }}</p>

                        </div>
                            <div class="content">
                                <a class="has-text-link" href="mailto:{{ director.fields["Email"] }}">{{ director.fields["Email"] }}
                                </a>
                            </div>
                             {# <button data-target="modal" onclick="modalToggle('{{ director.fields["Slug"] }}')" aria-label="close">More</button> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="{{ director.fields["Slug"] }}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card">
  <div class="card-content">
    <div class="content">
      {{ director.fields["Biography"] }}
    </div>
  </div>
</div>
            </div>
            <button class="modal-close is-large" onclick="modalToggle('{{ director.fields["Slug"] }}')" aria-label="close"></button>
        </div>
    {% endfor %}
    {% include 'modalToggle.njk'%}
</div>