---
layout: headerfooter.njk
title: Curriculum
---

    <div class="nav-block"></div>
    <main class="main">
        <div class="container-2 w-container">
            <div class="div-spacing">
                <h1 class="h1">{{ title }} <span class="ec ec-hatching-chick"></span></h1>
                <div class="w-row">
                    <div class="w-col">
                        <p class="p">At Sexpression, we can help your school meet the requirements of the new National
                            RSHE curriculum. Our resources are tailor-made to your school and lesson requirements,
                            accessible to all students and LGBT+ inclusive. Our curriculum is inline with the <a
                                href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/805781/Relationships_Education__Relationships_and_Sex_Education__RSHE__and_Health_Education.pdf"
                                target=_blank>Department of Education statutory guidance.</a></p>
                    </div>
                </div>
            </div>
            <div class="div-spacing">
                <div id="newsletter" class="div-block">
                    <h2 class="h2">Resources Newsletter <span class="ec ec-newspaper-roll"></span></h2>
                    <form class="form"
                        action="https://sexpression.us19.list-manage.com/subscribe/post?u=93ab5f406f5186ae9788a1659&amp;id=68866016aa"
                        method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="sub-box">
                            <div class="sub-text">
                                <p class=""><span class="ec ec-mailbox-with-mail"></span> Make sure to be the first to
                                    get an update when (only ever when) the resources are updated and improved.</p>
                            </div>
                            <div class="sub-text">
                                <p class=""><span class="ec ec-wave"></span> You can unsubscribe at any time</p>
                            </div>
                        </div>
                        <div class="sub-box">
                            <div class="sub-text" style="flex:auto;">
                                <input type="email" placeholder="Enter your email here" class="text-field-2 w-input"
                                    maxlength="256" value="" name="EMAIL" />
                                <input type="checkbox" id="gdpr_42467" name="gdpr[42467]" value="Y"
                                    class="av-checkbox gdpr" hidden />
                            </div>
                            <div class="sub-text" style="flex:initial;">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button w-button subscribe-button">
                            </div>
                        </div>
                        <div class="sub-box">
                            <p class="disclaimer">By clicking below to subscribe, you acknowledge that your information
                                will be transferred to Mailchimp for processing.</p>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_a12713abc0ae4f1b1d0841fcd_d08e375582" tabindex="-1" value="" />
                        </div>
                    </form>
                </div>




                <div class="features">
                    <div class="block">
                        <h3>Dictionary<span class="ec ec-open-book"></span></h3>
                        <div class="block-img">
                            <img class="img" src="/downloads/Sexpression_Dictionary/Sexpression_Dictionary.png" alt="">
                        </div>
                        <div class="block-p">
                            <p>The dictionary's aim is to make your lessons more inclusive to LGBT+ students.
                                It is difficult to overstate the positive difference to students' lives you will make by
                                creating an inclusive classroom. This dictionary is intended for allies rather than
                                LGBT+ people themselves. LGBT+ experience itself is diverse and it is important not to
                                view it as homogenous.</p>
                        </div>
                        <div>
                            <a class="versioning button-2 w-button"
                                href="/downloads/Sexpression_Dictionary/Sexpression_Dictionary.pdf" download>Download
                                PDF</a>
                            <p class="versioning righty"><b>Last updated:</b> 22/03/2020</p>
                        </div>
                    </div>
                    <div class="block">
                        <h3>Posters <span class="ec ec-rainbow"></span></h3>
                        <div class="block-img">
                            <img src="/downloads/Sexpression_Posters/Sexpression_Posters.gif" alt="">
                        </div>
                        <div class="block-p">
                            <p>These posters highlight significant LGBT+ figures which can be easily printed out and put
                                up around your school for a more inclusive and accepting learning environment.
                                Some of the figures relate specifically to different subjects, so you may like to
                                display them by subject specific classrooms or spaces.</p>
                        </div>
                        <div>
                            <a class="versioning button-2 w-button"
                                href="/downloads/Sexpression_Posters/Sexpression_Posters.zip" download>Download PDFs</a>
                            <p class="versioning righty"><b>Last updated:</b> 22/03/2020</p>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <div class="block">
                        <h3>Lockdown Worksheets by Sexpression Sheffield <span class="ec ec-house-with-garden"></span>
                        </h3>
                        <div class="block-img">
                            <img class="img"
                                src="/downloads/Sexpression_Sheffield_Lockdown_Worksheets/Sexpression_Sheffield_Lockdown_Worksheets.png"
                                alt="">
                        </div>
                        <div class="block-p">
                            <p>With school lessons cancelled for the rest of the term, Sexpression Sheffield were so
                                disappointed that they decided to create worksheets that could be done at home. That
                                teachers could give to students still attending school, or send out to those being
                                homeschooled. As well as Maths, English, and Science, young people are also missing out
                                on vital PSHE classes and we wanted to do our bit to help provide some inclusive and
                                comprehensive sex education in this very strange time. Please use them as starting
                                points to do your own research, stay curious and keep learning! Thanks to Heather, Emily
                                and Olga for making these and Laina and Eddi for the edits!</p>
                        </div>
                        <div>
                            <a class="versioning button-2 w-button"
                                href="/downloads/Sexpression_Sheffield_Lockdown_Worksheets/Sexpression_Sheffield_Lockdown_Worksheets.zip"
                                download>Download PDF</a>
                            <p class="versioning righty"><b>Last updated:</b> 08/05/2020</p>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <div class="block">
                        <h3>Impact Report 2019 - 20 <span class="ec ec-zap"></span>
                        </h3>
                        <div class="block-img">
                            <img class="img" src="/downloads/Sexpression_Impact_Report/Sexpression_Impact_Report.png"
                                alt="">
                        </div>
                        <div class="block-p">
                            <p>The Impact Report 2019-2020 is the first Impact Report of Sexpression:UK, prepared by
                                2019-2020 Branches Director Eva Zilber.

                                The report shows the impact Sexpression:UK achieved in this period, through metrics such
                                as amount of volunteers and delivered sessions, as well as qualitative feedback received
                                from students and teachers.</p>
                        </div>
                        <div>
                            <a class="versioning button-2 w-button"
                                href="downloads/Sexpression_Impact_Report/Sexpression_Impact_Report.pdf"
                                download>Download PDF</a>
                            <p class="versioning righty"><b>Last updated:</b> 03/02/2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>



        <div class="grid-container">
            <div class="grid-item"><img src="/images/photos/cardiff-ga/cardiff-ga - 4.jpeg" alt=""></div>
            <div class="grid-item"><img src="/images/photos/cardiff-ga/cardiff-ga - 5.jpeg" alt=""></div>
            <div class="grid-item"><img src="/images/photos/cardiff-ga/cardiff-ga - 6.jpeg" alt=""></div>
        </div>

        <main class="main">
            <div class="container-2 w-container">
                <div class="div-spacing">
                    <h1 class="h2">Bodily changes <span class="ec ec-dancer"></span><span
                            class="ec ec-man-dancing"></span></h1>
                    <div class="human">
                        <div class="w-row">
                            <div class="w-col">
                                <p class="p">Physical and emotional changes during puberty (p35)</p>
                                <p class="p">Changes during menstruation and managing them (p35)</p>
                                <p class="p">Changes to the body during pregnancy and pregnancy choices (p29)</p>
                            </div>
                        </div>
                    </div>

                    <h1 class="h2">Sex &amp; the Media <span class="ec ec-iphone"></span><span
                            class="ec ec-clapper"></span></h1>
                    <div class="human">
                        <div class="w-row">
                            <div class="w-col">
                                <p class="p">Laws and guidance about sexting (p28, p30)</p>
                                <p class="p">The influence and realism of pornography (p28)</p>
                                <p class="p">Influence of media (including social media) on body image and self-esteem
                                    (p36)</p>
                            </div>
                        </div>
                    </div>

                    <h1 class="h2">Contraception &amp; Sexually Transmitted Infections <span
                            class="ec ec-construction"></span><span class="ec ec-vertical-traffic-light"></span></h1>
                    <div class="human">
                        <div class="w-row">
                            <div class="w-col">
                                <p class="p">Full information on contraception choices (p29)</p>
                                <p class="p">Information on STIs including HIV/AIDS and their transmission (p29)</p>
                                <p class="p">Treatment, prevention and testing for STIs (p29)</p>
                                <p class="p">How to get further advice and access contraception (p29)</p>
                            </div>
                        </div>
                    </div>

                    <h1 class="h2">Sexual Orientation &amp; Gender Identity <span class="ec ec-rainbow"></span><span
                            class="ec ec-cookie"></span></h1>
                    <div class="human">
                        <div class="w-row">
                            <div class="w-col">
                                <p class="p">Information on different sexual orientations and gender identities (p26)
                                </p>
                                <p class="p">Prejudice and stereotypes of LGBT+ people (p28)</p>
                            </div>
                        </div>
                    </div>


                    <h1 class="h2">Healthy Relationships &amp; Abuse <span class="ec ec-tulip"></span><span
                            class="ec ec-wilted-flower"></span></h1>
                    <div class="human">
                        <div class="w-row">
                            <div class="w-col">
                                <p class="p">Characteristics of healthy, unhealthy and abusive relationships; romantic,
                                    platonic and familial (p27, p29)</p>
                                <p class="p">Criminal behaviour within relationships, including coercive control and
                                    violent behaviour (p28)</p>
                                <p class="p">Information on improving and supporting respectful relationships (p28)</p>
                            </div>
                        </div>
                    </div>

                    <h1 class="h2">Sex &amp; Consent <span class="ec ec-plus1"></span><span class="ec ec--1"></span>
                    </h1>
                    <div class="human">
                        <div class="w-row">
                            <div class="w-col">
                                <p class="p">Laws around sexual consent, exploitation, abuse, coercion, harassment and
                                    rape (p29)</p>
                                <p class="p">Unacceptable behaviour including sexual harassment and violence (p28)</p>
                                <p class="p">Communicate and recognising consent, including withdrawing consent (p29)
                                </p>
                                <p class="p">Being ready for sex and resisting sexual pressure (p29)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>