---
layout: headerfooter.njk
"visionandvalues": [
        {
            "icon": "fas fa-star",
            "value": "Empowering",
            "vision": "Young people's individual beliefs are respected, and our teaching helps young people to act on them. We also encourage young people to respect the beliefs of others."
        },
        {
            "icon": "fas fa-chalkboard-teacher",
            "value": "Near-peer",
            "vision": "Because university students are closer in age to the young people than their teachers and parents our near-peer teaching encourages young people to participate."
        },
        {
            "icon": "fas fa-comments",
            "value": "Informal",
            "vision": "Young people learn best and are more likely to make informed decisions about sex and relationships if they participate in discussions rather than being lectured."
        },
        {
            "icon": "fas fa-search",
            "value": "Comprehensive",
            "vision": "Young people should be informed about all aspects of their sexual and reproductive health."
        }
    ]
"stats": [
    {
        "percentage": "87%",
        "description": "of people agreed or strongly agreed that they had learnt something"
    },
        {
        "percentage": "93%",
        "description": "of young people said that they agreed or strongly agreed that the session was delivered well"
    },
        {
        "percentage": "85%",
        "description": "of people said they agreed or strongly agreed that the session had made them feel better prepared for the topic in question"
    },
        {
        "percentage": "83%",
        "description": "reported they would like future sessions from Sexpression:UK"
    }
]
---

<section class="hero is-medium container py-5">
    <div class="hero-body colour-background box">
        <div class="content has-text-centered">
            <h1 class="title is-size-2 has-text-white">
                {{ home.hero_title }}
            </h1>
            <p class="subtitle column is-three-fifths is-offset-one-fifth has-text-white">
                {{ home.hero_description }}
            </p>
            <div>
                <a href="/form/request-a-session" class="action-button primary hvr-grow button is-light">Request a session<i class="fas ml-2 fa-chalkboard-teacher"></i>
                </a>
                <a href="/form/join-a-branch" class="action-button secondary hvr-grow button is-light">Join a branch<i class="fas ml-2 fa-hands-helping"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section container has-text-centered">
    <h2 class="subtitle"><b>
            Our Partners, Sponsors, Friends and Donors
        </b></h2>
    <div class="columns is-multiline is-mobile is-vcentered">
        {% for partner in partners %}
            <div class="column is-one-quarter-mobile">
                <a href="{{ partner.website }}" target="_blank">
                    <img src="https://sexpression.directus.app/assets/{{ partner.logo }}" alt="{{ partner.name }}">
                    </a>
            </div>
            {% endfor%}
        </div>
    </section>

    <section class="section">
        <div class="container has-text-centered py-4">
            <h2 class="title">{{ home.about_us_title }}</h2>
            <p class="subtitle mb-6">{{ home.about_us_description }}</p>
        </div>
    </section>

    <section class="section">
        <div class="container py-4">
            <h2 class="title has-text-centered mb-6">{{ home.our_vision_and_values_title }}</h2>
            <div class="columns">
                {% for vv in visionandvalues %}
                    <div class="column is-3 is-flex is-flex-direction-column" style="gap: 2rem;">
                        <i class="{{ vv.icon }} is-size-1 primary"></i>
                        <div>
                        <h4 class="title is-4 gradient primary">{{ vv.value }}</h4>
                        <p class="subtitle is-6">{{ vv.vision }}</p>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </section>

    <div class="columns is-mobile mb-5 is-gapless">
        <div class="column is-4"><img src="img/photo1.jpg" alt=""></div>
        <div class="column is-4"><img src="img/photo2.jpg" alt=""></div>
        <div class="column is-4"><img src="img/photo3.jpg" alt=""></div>
    </div>

    <section class="section">
        <div class="container has-text-centered py-4">
            <h2 class="title">{{ home.statistics_title }}</h2>
            <p class="subtitle mb-6">{{ home.statistics_description }}</p>
            <div class="columns">
                {% for stat in stats %}
                <div class="column">
                    <p class="title is-size-1 primary">{{ stat.percentage }}</p>
                    <p class="heading">{{ stat.description }}</p>
                </div>
                {% endfor%}
            </div>
        </div>
    </section>
