---
layout: headerfooter.njk
---

<section class="hero is-medium container py-5">
    <div class="hero-body colour-background box">
        <div class="content has-text-centered">
            <h1 class="title is-size-2 has-text-white">
                {{ home.hero_title }}
            </h1>
            <p class="subtitle column is-three-fifths is-offset-one-fifth has-text-white">
                {{ home.hero_description }}
            </p>
            <div>
                <a href="/contact/session" class="action-button primary hvr-grow button is-light">Request a session<i class="fas ml-2 fa-chalkboard-teacher"></i>
                </a>
                <a href="/contact/join" class="action-button secondary hvr-grow button is-light">Join a branch<i class="fas ml-2 fa-hands-helping"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section container has-text-centered">
    <h2 class="subtitle"><b>
            Our Partners, Sponsors, Friends and Donors
        </b></h2>
    <div class="columns is-multiline is-mobile is-vcentered">
        {% for partner in partners %}
            <div class="column is-one-quarter-mobile">
                <a href="{{ partner.website }}" target="_blank">
                    <img src="https://sexpression.directus.app/assets/{{ partner.logo }}" alt="{{ partner.name }}">
                    </a>
            </div>
            {% endfor%}
        </div>
    </section>

    <section class="section">
        <div class="container has-text-centered py-4">
            <h2 class="title">{{ home.about_us_title }}</h2>
            <p class="subtitle mb-6">{{ home.about_us_description }}</p>
        </div>
    </section>

    <section class="section">
        <div class="container py-4">
            <h2 class="title has-text-centered mb-6">{{ home.our_vision_and_values_title }}</h2>
            <div class="columns">
                {% for vv in visionandvalues %}
                    <div class="column is-3 is-flex is-flex-direction-column" style="gap: 2rem;">
                        <i class="{{ vv.icon }} is-size-1 primary"></i>
                        <div>
                        <h4 class="title is-4 gradient primary">{{ vv.value }}</h4>
                        <p class="subtitle is-6">{{ vv.vision }}</p>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </section>

    <div class="columns is-mobile mb-5 is-gapless">
        <div class="column is-4"><img src="img/photo1.jpg" alt=""></div>
        <div class="column is-4"><img src="img/photo2.jpg" alt=""></div>
        <div class="column is-4"><img src="img/photo3.jpg" alt=""></div>
    </div>

    <section class="section">
        <div class="container has-text-centered py-4">
            <h2 class="title">Statistics from 2018-2019 academic year</h2>
            <p class="subtitle mb-6">Rated agreement as 3/5-5/5 in post-session feedback forms. Preliminary data from 5287 feedback forms provided by 10 out of 28 operating branches.</p>
            <div class="columns">
                <div class="column">
                    <p class="title is-size-1 primary">87%</p>
                    <p class="heading">of people agreed or strongly agreed that they had learnt something</p>
                </div>
                <div class="column">
                    <p class="title is-size-1 primary">93%</p>
                    <p class="heading">of young people said that they agreed or strongly agreed that the session was delivered well</p>
                </div>
                <div class="column">
                    <p class="title is-size-1 primary">85%</p>
                    <p class="heading">of people said they agreed or strongly agreed that the session had made them feel better prepared for the topic in question</p>
                </div>
                <div class="column">
                    <p class="title is-size-1 primary">83%</p>
                    <p class="heading">reported they would like future sessions from Sexpression:UK</p>
                </div>
            </div>
        </div>
    </section>
