---
layout: container.njk
pagination:
    data: programme
    size: 1
    alias: chapter
permalink: "programme/{{ chapter.title | slug }}/"
---

<div class="tabs">
    <ul>
        {% for section in programme %}
            <li {% if section.title == chapter.title %} class="is-active" {% endif %}>
                <a href="/programme/{{ section.title | slug }}">{{ section.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<section class="" style="margin: 5rem auto 5rem auto; max-width: 640px;">
    {# <p><b>Last updated</b><br>{{ chapter.date_updated }}</p> #}
    <h1>{{ chapter.title }}</h1>
    {{ chapter.body | safe }}
</section>