---
layout: container.njk
title: Resources
---

<h1 class="mb-6 has-text-centered">
    <i class="fas mr-2 fa-paperclip"></i> {{ title }}
</h1>

<div class="tabs">
    <ul class="m-0">
        {% for tag in resources %}
            <li>
                <a href="/resources/{{ tag.name | slug }}">{{ section.name }}</a>
            </li>
            {# <p>{{ tag.description }}</p> #}
        {% endfor %}
    </ul>
</div>
