---
layout: container.njk
title: Resources
---

<h1 class="mb-6 has-text-centered">
    <i class="fas mr-2 fa-paperclip"></i> {{ title }}
</h1>

<div class="tabs">
    <ul class="m-0">
        {% for taggy in resource_tag %}
            <li>
                <a href="/resources/{{ taggy.text | slug }}">{{ taggy.text }}</a>
            </li>
            {# <p>{{ tag.text }}</p> #}
        {% endfor %}
    </ul>
</div>