---
layout: headerfooter.njk
title: Sent
---

<div class="nav-block"></div>
<main class="main">
    <div class="container-2 w-container">
        <div class="div-block-7">
            <div class="gif w-embed w-iframe">
                <div style="width:100%;height:0;padding-bottom:79%;position:relative;"><iframe
                        src="https://giphy.com/embed/tIeCLkB8geYtW" width="100%" height="100%"
                        style="position:absolute" frameborder="0" class="giphy-embed" allowfullscreen=""></iframe>
                </div>
                <a
                    href="https://giphy.com/gifs/shaun-the-sheep-movie-not-my-gif-2016-oscar-nominations-tIeCLkB8geYtW"></a>
            </div>
        </div>
        <h1 class="h1-centered">We have received your message <span class="ec ec-alien"></span></h1>
        <p class="paragraph-centered">We hope to get back to you very soon</p>
    </div>
</main>