---
layout: headerfooter.njk
title: Students
---

    <div class="nav-block"></div>
    <main class="main">
        <div class="container-2 w-container">
            <h1 class="h1-centered">For Uni Students <span class="ec ec-mortar-board"></span></h1>
            <h2 class="h2">How to join an existing Sexpression:UK branch <span class="ec ec-blowfish"></span></h2>
            <h3 class="h3">1. Find your nearest branch</h3>
            <p class="p">All of Sexpression:UK&#x27;s activities are carried out by branches in universities across the
                UK. Check our list of branches to see whether there is one near you. If there&#x27;s not, you can try to
                start your own branch.</p>
            <h3 class="h3">2. Not a student?</h3>
            <p class="p">If you&#x27;re not a student unfortunately you cannot join Sexpression:UK. But you can still
                support our campaign for statutory sex and relationships education and you can still attend our
                conferences. There are opportunities to volunteer with other sexual health organisations such as Brook
                or Terence Higgins Trust.</p>
            <h3 class="h3">3. Attend the training run by your branch</h3>
            <p class="p">Contact your branch using the email on our branch list or just look for them at a
                freshers&#x27; fair. Find out when their next training is, and how you can attend it. Every branch
                requires its volunteers to attend a one-day training courses. This is to make sure they are safe when
                teaching and to give them skills to deliver a fun and interesting lesson about sex and relationships.
                Most branches run one training event each year during September or October.</p>
            <h3 class="h3">4. Attend the events your branch runs on campus</h3>
            <p class="p">Even if you haven&#x27;t been trained by your branch to teach in schools, you can still attend
                the events they run on campus. Branches run awareness campaigns, talks and socials throughout the year
                which any student can attend if they have a keen interest in sex and relationships education.</p>
            <h3 class="h3">5. Help us campaign for statutory RSHE</h3>
            <p class="p">Sexpression:UK is campaigning for statutory sex and relationships education. You can contribute
                to this campaign by writing to you MP about statutory RSHE. We have created template letters for England,
                Northern Ireland, Scotland and Wales. If RSHE is given the resources it needs it can empower young people
                to make informed decisions. Non-judgemental and comprehensive RSHE can also reduce the transmission of
                sexually transmitted infections, reduce the rate of unwanted teenage pregnancies, prevent rape and
                sexual assault, and reduce discrimination based on gender identity and sexuality.</p>
        </div>
    </main>

    <div class="grid-container">
        <div class="grid-item"><img src="/images/photos/cardiff-ga/cardiff-ga - 1.jpeg" alt=""></div>
        <div class="grid-item"><img src="/images/photos/cardiff-ga/cardiff-ga - 2.jpeg" alt=""></div>
        <div class="grid-item"><img src="/images/photos/cardiff-ga/cardiff-ga - 3.jpeg" alt=""></div>
    </div>

    <main class="main">
        <div class="container-2 w-container">
            <h2 class="h2">How to start a branch of Sexpression:UK in your university <span class="ec ec-fire"></span>
            </h2>
            <h3 class="h3">1. Say hello to our Branches Director</h3>
            <p class="p">The Sexpression:UK Branches Director is responsible for helping branches start up and keep
                going. They can be contacted at <a
                    href="mailto:branches@sexpression.org.uk">branches@sexpression.org.uk</a>. Send them an email saying
                you&#x27;re interested in starting a branch just so they know.</p>
            <h3 class="h3">2. Find more like-minded students</h3>
            <p class="p">Starting a branch of Sexpression:UK is going to be a lot of work, so you&#x27;ll need help. In
                our experience new branches are most successful when they have four or more people in their first
                committee. So go find other keen students.</p>
            <h3 class="h3">3. Get help from Sexpression:UK</h3>
            <p class="p">Once you have enough students to form a first committee, Sexpression:UK can swing by to help
                you. We&#x27;ll provide you with an email address, a logo and a batch of condoms. We&#x27;ll also send
                somebody to teach your committee how to train your first group of volunteers.</p>
        </div>
    </main>