---
layout: headerfooter.njk
title: Teachers
---

    <div class="nav-block"></div>
    <main class="main">
        <div class="w-container">
            <h1 class="h1-centered">For Teachers <span class="ec ec-apple"></span></h1>
            <h2 class="h2">How to invite us <span class="ec ec-love-letter"></span></h2>
            <h3 class="h3">1. Check we can teach at your institution</h3>
            <p class="p">Sexpression:UK will run sessions in primary schools, secondary schools and sixth form colleges.
                We also run sessions in non-formal settings such as youth clubs and sports clubs.</p>
            <h3 class="h3">2. Find your nearest branch</h3>
            <p class="p">You should next find the nearest to your institution. All of our teaching is done by branches
                located in universities across the country. These branches are responsible for training our enthusiastic
                volunteers and organise teaching in the local community, so they are the ones you should contact to
                arrange teaching.We can only teach in institutions which are a reasonable distance from our branches. If
                there is no Sexpression:UK branch near to you, check back next year. New branches are popping up all the
                time!</p>
            <h3 class="h3">3. Decide what subject you would like taught</h3>
            <p class="p">Ask our branches about our core lesson content which are listed on our About page. Something
                you want taught but isn&#x27;t listed? Don&#x27;t worry, just talk to your local branch and we can see
                what we can do.</p>
            <h3 class="h3">4. Decide on which dates you would like teaching</h3>
            <p class="p">Have some idea on which dates you would like the branch to teach. Keep in mind many branches
                will have difficulty finding volunteers during July, August and September. During July and August
                universities usually have a summer holiday and during September branches usually recruit and train
                volunteers.</p>
            <h3 class="h3">5. Contact the branch</h3>
            <p class="p">Contact the branch using the email address on our branch list. Negotiate a time and subject
                which work for you both.</p>
            <h2 class="h2">Frequently asked questions <span class="ec ec-thinking"></span></h2>
            <h3 class="h3">How far can you travel? Are we in your catchment area?</h3>
            <p class="p">How far a branch can travel depends on the availability of transport in their local community.
                Some branches may be able to travel further than others, so it's always worth asking, even if you think
                you're too far away.</p>
            <h3 class="h3">Does Sexpression:UK charge for teaching?</h3>
            <p class="p">We are an entirely volunteer run and led organisation and schools will not be charged a fee for
                our services. If you would like to support us, you can make a donation.</p>
            <h3 class="h3">How do you safeguard the young people you teach?</h3>
            <p class="p">Sexpression:UK volunteers undergo checks by the Disclosure and Barring Service (DBS) in England
                and Wales or Protecting Vulnerable Groups (PVG) in Scotland - they are trained to recognise and report
                potential safeguarding issues. This is to make sure the young people we work with are kept safe. If you
                have any questions about our child protection training and child protection policy, please contact <a
                    href="mailto:childprotection@sexpression.org.uk">childprotection@sexpression.org.uk</a>.</p>
                    <p class="p"><a href="https://www.notion.so/Safeguarding-Policy-11373b8b7faa4bb5901eb2006bbc6994" target="_blank">Visit our Safeguarding Policy</a></p>
        </div>
</main>