---
layout: container.njk
title: Meet the team
---

<h1 class="has-text-centered mb-6">
    <i class="fas mr-2 fa-users"></i>{{ title }}</h1>

<div class="tabs">
    <ul>
        <li class="is-active">
            <a href="/teams">National Committee</a>
        </li>
        <li class="">
            <a href="/teams/trustees">Trustees</a>
        </li>
    </ul>
</div>

<div class="columns is-multiline m-5" style="gap:2rem;">
    {% for member in members %}
        <div class="column is-full card border-radius-2 is-flex py-6 px-6 is-align-items-center">
            <div class="is-flex is-flex-direction-column" style="gap: 1rem;">
                <figure class="image is-128x128 m-0">
                    <img class="is-rounded" src="https://sexpression.directus.app/assets/{{ member.image }}" alt="{{ member.description }}">
                </figure>
                <div class="card-content p-0">
                    <p class="title is-size-6 pb-0 mb-1">{{ member.title }}</p>
                    <a onclick="modalToggle('{{ member.full_name | slug }}')" class="is-size-6 mb-0">{{ member.full_name }}</a>
                    <p class="is-size-7">{{ member.gender_pronouns[0] }}</p>
                    <a class="color-black has-text-link is-size-7" href="mailto:{{ member.email }}">{{ member.email }}</a>
                </div>
            </div>
            <div class="">
                <div class="content">
                    {{ member.description }}
                </div>
            </div>
        </div>

    {% endfor %}
    {% include 'modalToggle.njk'%}
</div>