---
layout: opportunity.njk
tags: opportunity
positions: 1
description: this is a description
deadline: 2022-06-01T00:00:00.000Z
link: sexpression.org.uk
---
<section class="section">
    <div class="container content is-max-desktop">
        <section class="hero">
            <div class="hero-body">
                <p class="title">{{ opportunity.title }}</p>
                {# <p class="subtitle">{{ description }}</p> #}
                <div class="is-flex is-flex-direction-column" style="gap: 0.5rem;">
                <div class="is-flex is-align-items-center" style="gap: 0.5rem;">
                    <i class="fa-solid fa-person"></i>
                    {# <p class="">{{ positions }} positions</p> #}
                </div>

                <div class="is-flex is-align-items-center" style="gap: 0.5rem;">
                    <i class="fa-solid fa-clock"></i>
                    <p>Deadline: {{ deadline }}</p>
                </div>

                <div class="is-flex is-align-items-center" style="gap: 0.5rem;">
                    <i class="fa-solid fa-link"></i>
                    <a href="{{ link }}" target="_blank">Charity Jobs</a>
                </div>
                </div>

            </div>
        </section>
        {# <section class="p-6">
            {{ content | safe }}
        </section> #}

    </div>
</section>